<h3>配送先登録/一覧</h3>
<%= form_with model: @address, url: public_addresses_path(@address.id) do |f| %>
  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.submit "新規登録" %>
  </div>
  <% end %>
  <div>
  <%= @addresses.each do |address| %>
        <table border="1">
            <tr>
                <th>郵便番号</th>
                <td>住所</td>
                <td>宛名</td>
            </tr>
            <tr>
                <th><%= address.postal_code %></th>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
            </tr>
        </table>

  </div>
  <% end %>